* {
    margin: 0px;
    padding: 0px;
}

header {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

header img{
    width: 100%;
    min-height: 300px;
    min-width: 600px;
}



.footer {
    margin-top: -5px;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    height: 150px;
    align-items: center;
    justify-content: center;
    background-color: rgb(26, 26, 26);
    color: rgb(250, 250, 250);
}

.footer img {
    min-width: 150px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer hr {
    width:100%;
}

.footer ul li {
    list-style: none;
    margin: 0px 5px;
}

.creditos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    font-size: 0.9em;
}

.inlineIcons {
    display:flex;
    width: 50%;
    min-height: 30px;
    justify-content: space-evenly;
    margin: auto;
    align-items: center;
    margin: 5px 0px;
}

.inlineIcons a {
    font-size: 1.2em;
    color: rgb(250, 250, 250);
    transition: 0.3s
}

.inlineIcons a:hover {
    font-size: 1.4em;
}