@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


/* ----------- GERAL ----------- */
:root {
    --cor1: rgb(67,86,21);
    --cor2: rgb(199,221,115);
    --cor3: rgb(248, 166, 66);
    --cor4: rgb(29,22,85);
    --cor5: rgb(46,49,146);
    --cor6: rgb(199,197,226);
    --cor7: rgb(28, 36, 9);
    --cor8: rgb(4,0,46);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

html {
    background-color: var(--cor4);
}

.titulo {
    font-family: 'Blinker', cursive;
    font-weight: 700;
    font-size: 2em;
    text-transform: uppercase;
    padding: 5px;
    color: var(--cor6);
}

h2 {
    font-family: 'Blinker', cursive;
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    color: var(--cor3);
}

h3 {
    font-family: 'Blinker', cursive;
    font-weight: 600;
    font-size: 1.2em;
    text-align: justify;
    text-transform: uppercase;
    padding: 5px;
    color: var(--cor2);
}

p {
    text-align: justify;
    text-indent: 2em;
}

a:link {
    color: var(--cor2);
}

a:visited {
    color: var(--cor3);
}

a:hover {
    color: var(--cor6);
}


/* ----------- HEAD ----------- */
header {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

header img{
    width: 100%;
    height: auto;
    min-width: 600px;
}

/* ----------- MAIN ----------- */
main {
    display:flex;
    flex-direction: column;
    margin: auto;
    padding: 20px 0px 20px 0px;
    max-width: 1200px;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
}

.curriculo {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 100%;
}

.curriculo div {
    margin-left: 15px;
}

.curriculo section {
    display: flex;
    flex-direction: row;
    background-color: var(--cor1);
    border-radius: 5px;
    box-shadow: 5px 5px 5px var(--cor8);
    padding: 15px;
    width: 80%;
}

.curriculo section article {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 50%;
    color: var(--cor2);
}

.curriculo table {
    margin-bottom: 15px;
}

.curriculo ul {
    margin-bottom: 15px;

}

.curriculo li {
    margin-left: 2em;
    list-style-type: disc;
}

table {
    width: 100%;
}

td {
    width: 33%;
    text-align: center;
}

.portfolio {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px var(--cor8);
    padding: 5px;
    margin: 5px 0px;
    background-color: var(--cor1);
}

.portfolio article {
    padding: 5px;
    width: 50%;
    color: var(--cor2);
}

.portfolio article h2 {
    color: var(--cor3);
}

.portfolio img {
    width: 50%;
}

.portfolio iframe {
    width: 50%;
    height: 250px;
}

.portfolio div {
    margin-left: 15px;
}

.portfolio div h3 {
    margin-top: 15px;
}

.portfolio hr {
    width:90%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid var(--cor2);
}

/* ---------- FOOTER ---------- */
.footer {
    margin-top: -5px;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    height: 150px;
    align-items: center;
    justify-content: center;
    background-color: var(--cor8);
    color: var(--cor6);
}



.footer img {
    width: 100px;
    padding: 0px 50px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer hr {
    width:100%;
    border: 1px solid var(--cor6);
}

.footer ul li {
    list-style: none;
    margin: 0px 5px;
}

.creditos {
    text-indent: 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    font-size: 0.9em;
}

.inlineIcons {
    display:flex;
    width: 50%;
    min-height: 30px;
    justify-content: space-evenly;
    margin: auto;
    align-items: center;
    margin: 5px 0px;
}

.inlineIcons a {
    font-size: 1.2em;
    color: var(--cor6);
    transition: 0.3s;
}

.inlineIcons a:hover {
    font-size: 1.4em;
}