@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


/* ----------- GERAL ----------- */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

html {
    background-color: rgb(80, 80, 80);
}

.titulo {
    font-family: 'Merienda', cursive;
    font-weight: 800;
    font-size: 1.5em;
    padding: 5px;
}

/* ----------- HEAD ----------- */
header {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

header img{
    width: 100%;
    min-height: 300px;
    min-width: 600px;
}

/* ----------- MAIN ----------- */
main {
    display:flex;
    flex-direction: column;
    margin: auto;
    padding: 20px 0px 20px 0px;
    max-width: 1200px;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
}

.curriculo {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 100%;
}

.curriculo section {
    display: flex;
    flex-direction: row;
    background-color: rgba(240, 240, 240, 0.5);
    border-radius: 5px;
    padding: 5px;
    width: 80%;
}

.curriculo section article {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 50%;
}

.portfolio {
    display: flex;
    flex-direction: row;
    width: 80%;
    border-radius: 5px;
    padding: 5px;
    background-color:rgba(240, 240, 240, 0.5);
}

.portfolio article {
    padding: 5px;
    width: 50%;
}

/* ---------- FOOTER ---------- */
.footer {
    margin-top: -5px;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    height: 150px;
    align-items: center;
    justify-content: center;
    background-color: rgb(26, 26, 26);
    color: rgb(250, 250, 250);
}

.footer img {
    min-width: 150px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer hr {
    width:100%;
}

.footer ul li {
    list-style: none;
    margin: 0px 5px;
}

.creditos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    font-size: 0.9em;
}

.inlineIcons {
    display:flex;
    width: 50%;
    min-height: 30px;
    justify-content: space-evenly;
    margin: auto;
    align-items: center;
    margin: 5px 0px;
}

.inlineIcons a {
    font-size: 1.2em;
    color: rgb(250, 250, 250);
    transition: 0.3s
}

.inlineIcons a:hover {
    font-size: 1.4em;
}